* {

}

body {
  background-color: #C75146;
}


.flexbox-container {
  background-color: #FCBA04;
}

/* Home Page */

/* Contact Page */

/* Favorites Page */

/* Spinner Page */



/* About Page */

.about-section {
  position: ;
}


.about-flexbox-container {
  display: flex;
  justify-content: space-between;
}

#headshot {
  float: left;
  width: 100%;
  height: auto;
}
.aboutJordan {
  padding: 10px;
  background-color:;
}

header {
  background-color: #FCBA04;
  border-radius: 20px;
  margin: auto;
  width: 32ch;
  padding: 2px;
  text-align: center;
}

header h1 {
  text-align: center;
}
/* Nav Bar */

.primary-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  list-style: none;
  padding: 0;
  margin: 0;
  }

@media (max-width: 35em){
  .hidden--mobile {
    position: fixed;
    inset: 0 0 30% 0;
    align-items: flex-start;
    flex-direction: column;
    display: none !important;
  }
}





