* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2e18f3;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* CSS HEX
--chocolate-cosmos: #4c061dff;
--yinmn-blue: #4a5899ff;
--moonstone: #559cadff;

/* CSS HSL */
--chocolate-cosmos: hsla(340, 85%, 16%, 1);
--yinmn-blue: hsla(229, 35%, 45%, 1);
--moonstone: hsla(192, 35%, 51%, 1);

/* SCSS HEX */
$chocolate-cosmos: #4c061dff;
$yinmn-blue: #4a5899ff;
$moonstone: #559cadff;

/* SCSS HSL */
$chocolate-cosmos: hsla(340, 85%, 16%, 1);
$yinmn-blue: hsla(229, 35%, 45%, 1);
$moonstone: hsla(192, 35%, 51%, 1);

/* SCSS RGB */
$chocolate-cosmos: rgba(76, 6, 29, 1);
$yinmn-blue: rgba(74, 88, 153, 1);
$moonstone: rgba(85, 156, 173, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-right: linear-gradient(90deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-bottom: linear-gradient(180deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-left: linear-gradient(270deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-top-right: linear-gradient(45deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-bottom-right: linear-gradient(135deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-top-left: linear-gradient(225deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-bottom-left: linear-gradient(315deg, #4c061dff, #4a5899ff, #559cadff);
$gradient-radial: radial-gradient(#4c061dff, #4a5899ff, #559cadff); */
